<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigInteger" version="1.0.4" targetFramework="net35" />
  <package id="C5" version="2.4.5947.17249" targetFramework="net35" />
  <package id="MSBuildTasks" version="1.4.0.65" targetFramework="net40" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>